{% extends '_base.html' %}

{% block title %} Sign In {% endblock title %}

{% block body %}
    <form method="post" class="input_form">
        <div class="form_title"> <span class="creative">Creative</span>Portal: Sign In</div>
        <hr>
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <input type="email" name="login" placeholder="Email" required class="text_input">
        <input type="password" name="password" placeholder="Password" required class="text_input">

        <hr>
        <button type="submit" class="button">Sign In</button>

        <a href="{% url 'account_reset_password' %}" class="help_text" style="align-self: center">Forgot your password?</a>
    </form>


{% endblock body %}