{% extends '_base.html' %}

{% block title %} Register {% endblock title %}

{% block body %}
    <form method="post" class="input_form">
        <div class="form_title"> <span class="creative">Creative</span>Portal: Registration</div>
        <hr>

        {% csrf_token %}

        <input type="email" name="{{ form.email.html_name }}" placeholder="Email" class="text_input">

        <input type="text" name="{{ form.full_name.html_name }}" placeholder="Full Name" class="text_input">

        <div class="help_text">
            {{ form.password1.help_text }}
        </div>
        <input type="password" name="{{ form.password1.html_name }}" placeholder="Password" class="text_input">

        <input type="password" name="{{ form.password2.html_name }}" placeholder="Confirm Password" class="text_input">

        <hr>
        <button type="submit" class="button">Register</button>

        <p class="help_text" style="align-self: center">Already have an account? <a href="{% url 'account_login' %}">Sign In</a></p>
    </form>

{% endblock body %}