{% extends '_base.html' %}

{% block body %}
        <div class="input_form">

            <div class="center_subtext">Password Reset <span class="creative">Completed</span></div>
                <hr>
                <p>Your new password was set. You may go ahead and <a href="{% url 'login' %}">log in</a> now</p>

        </div>

    <script>
        function redirect(){
           window.location.href = "{% url 'login' %}";
        }
        setTimeout(redirect, 5000); //2000 is equivalent to 2 seconds
    </script>
{% endblock %}