.input_form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

.button {
    background-color: #13aff0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.button:hover {
    background-color: #74d5f0;
}

.text_input {
    border: none;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    min-width: 100%;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
}

.text_input:focus{
    background-color: rgba(0, 0, 0, 0.21);
}

.help_text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.31);
}

.help_text ul {
    list-style-type: none;
}

.form_title{
    font-size: 20px;
}

.errors {
    border: 1px solid #ff8f22;
    color: #ff8f22;
    padding: 10px;
    border-radius: 5px;
}

.field_error{
    color: #ff8f22;
    font-size: 12px;
    margin-left: 20px;
}

.field_error ul{
    list-style-type: none;
}

.profile_image_container {
    width: 300px;
    height: 300px;
    align-self: center;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.center_subtext{
    text-align: center;
    font-size: 22px;
}

.button_layout{
    display: flex;
    justify-content: flex-end;
}