*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #171717;
    color: #f1f1f1;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}