<div class="navbar">

    <div class="nav_items">
        <a href="" class="logo_text"> <span class="creative">Creative</span>Poral </a>
        <a href=""><i class="fas fa-thumbs-up form_icon"></i> Community</a>
        <a href=""><i class="fas fa-comments form_icon"></i> Trending</a>
        <a href=""><i class="fas fa-rss form_icon"></i> Latest</a>
        <a href=""><i class="fas fa-star form_icon"></i> Picks</a>
        <a href=""><i class="fas fa-users form_icon"></i> Users</a>
        <a href=""><i class="fas fa-cloud-upload-alt form_icon"></i> Upload</a>
    </div>

    <div class="nav_items">
        <a href=""><i class="fas fa-user-plus form_icon"></i> Sign Up</a>
        <a href=""><i class="fas fa-sign-in-alt form_icon"></i> Sign In</a>
    </div>
</div>