<div class="navbar">

    <div class="nav_items">
        <a href="{% url 'home' %}" class="logo_text"> <span class="creative">Creative</span>Poral </a>

        {% if user.is_authenticated %}
            <a href="{% url 'post_filters' %}?sorting=community"><i class="fas fa-thumbs-up form_icon"></i> Community</a>
            <a href="{% url 'post_filters' %}?sorting=trending"><i class="fas fa-comments form_icon"></i> Trending</a>
            <a href="{% url 'post_filters' %}?sorting=latest"><i class="fas fa-rss form_icon"></i> Latest</a>
            <a href="{% url 'post_filters' %}?sorting=picks"><i class="fas fa-star form_icon"></i> Picks</a>

            <a href=""><i class="fas fa-users form_icon"></i> Users</a>
            <a href="{% url 'upload' %}"><i class="fas fa-cloud-upload-alt form_icon"></i> Upload</a>
        {% endif %}
    </div>

    <div class="nav_items">
        {% if user.is_authenticated %}

            {% if user.profile_pic %}
                <a href="{% url 'profile' pk=user.pk %}">
                    <div class="user_pic" style="background-image: url({{ user.profile_pic.url }})"></div>
                </a>
            {% else %}
                <a href="{% url 'profile' pk=user.pk %}"><i class="fas fa-user form_icon"></i></a>
            {% endif %}

            <a href="{% url 'account_logout' %}"><i class="fas fa-sign-in-alt form_icon"></i> Sign Out</a>
        {% else %}
            <a href="{% url 'account_signup' %}"><i class="fas fa-user-plus form_icon"></i> Sign Up</a>
            <a href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt form_icon"></i> Sign In</a>
        {% endif %}
    </div>
</div>