{% extends '_base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
        <div class="title_text">Welcome on <span class="creative">Creative</span>Portal</div>

        <div class="top_row_container">
            {% for post in top_row_list %}
                <div class="post_item" style="background-image: url({{ post.image }})">
                </div>
            {% endfor %}
        </div>

        <hr>

        <p class="subtitle_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus debitis error fuga id ipsam ipsum minus praesentium ratione! A debitis fuga iure minima mollitia nisi provident suscipit. Maxime perspiciatis, vitae!</p>

        <hr>

        {% if not user.is_authenticated %}
            <div class="title_text"><a href=""> <span class="creative"> Join today </span> </a> and share your best moments!</div>
        {% endif %}
{% endblock body %}