{% extends '_base.html' %}
{% load static %}

{% block title %} Profile: {{ user }} {% endblock title %}

{% block body %}

    <form method="post" class="input_form" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form_title"><span class="creative">{{ user }}</span> Profile</div>
        <hr>

{#        <div class="user_pic" style="background-image: url({{ user.profile_pic.url }})"></div>#}

        <div id="image_drop_area" style="max-width: 300px; align-self: center">
            {% if user.profile_pic %}
                <img src="{{ user.profile_pic.url }}" alt="" id="image_canvas" style="display: block">
            {% else %}
                <div id="drop_text">Drop your photo here (jpg)</div>
                <img src="" alt="" id="image_canvas">
            {% endif %}
        </div>

        <input type="file" name="profile_pic" accept="image/jpeg" id="image_file_input" hidden>


        <input type="email" name="email" placeholder="Email" value="{{ form.email.value }}" required class="text_input">
        <input type="text" name="full_name" placeholder="Full Name" value='{{ form.full_name.value }}' required class="text_input">

        <textarea name="bio" class="text_input" placeholder="Bio">{{ form.bio.value }}</textarea>

        <input type="text" name="location" placeholder="Location" value='{{ form.location.value }}' class="text_input">

        <input type="date" name="birth_date" placeholder="Birth Date" value='{{ form.birth_date.value }}' class="text_input">

        <input type="text" name="facebook" placeholder="Facebook" value='{{ form.facebook.value }}' class="text_input">
        <input type="text" name="twitter" placeholder="Twitter" value='{{ form.twitter.value }}' class="text_input">
        <input type="text" name="instagram" placeholder="Instagram" value='{{ form.instagram.value }}' class="text_input">
        <input type="text" name="linkedin" placeholder="Linkedin" value='{{ form.linkedin.value }}' class="text_input">
{#        {{ form.as_p }}#}

        <hr>
        <button type="submit" class="button">Update Profile</button>

        <a href="{% url 'account_set_password' %}" class="help_text" style="align-self: center">Change password</a>
    </form>

<script src="{% static 'js/image_drop.js' %}"></script>
{% endblock body %}